RemoteTree {
    align: center middle;
    text-align: center;
    background: rgba(0,0,0, 0.7);
    width: 1fr;
    height: 1fr;
    background: $surface;
    border: solid $accent;
    padding: 1;
}